*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}
.center{
    margin: 0 auto;
    padding: 0 2%;
}
 
body, html{
    min-height: 100vh;
}

div.menu{
    display:flex ;
    justify-content: space-between;
    margin: 60px 60px;
}
div.menu-none{
    display:none;
}

div.logo h1{
    color: rgba(210, 135, 44, 1);
    font-style: bold;
    font-weight:700;
}

div.menu nav{
    display:flex;
    list-style-type: none;
}

div.menu nav > li{
    margin-inline: 10px;
    font-size: 25px;
}

div.menu nav > li > a {
    text-decoration: none;
    color: #000;
}

.container{
    padding:7%;
    margin-bottom: 20px;
    background-image: url('/projetos/AmazingGraph/assets/team.jpg');
    background-size: 750px 480px;
    background-repeat: no-repeat;
    background-position: 600px 130px;
}

div.texto-container{
    margin-left: 100px;
}

div.texto-container h1{
    font-size:80px;
    color: rgba(118, 111, 104, 1);
    max-width: 600px;
    margin-bottom: 30px;
}

div.texto-container p{
    font-size:30px;
    color:rgba(158, 153, 148, 1);
    max-width: 500px;
    margin-bottom: 60px;
}

div.texto-container a{
    font-size:40px;
    text-decoration: none;
    padding:20px 80px;
    background-color: rgba(210, 135, 44, 1);
    border-radius: 15px;
    color: white;
    font-weight: bold;
}

@media screen and (max-width: 760px) {
    header div.items-menu{
        display: none;
    }

    div.menu{
        display: flex;
        justify-content:space-between;
    }

    div.menu-none{
        display: flex;
        font-size:30px;
        cursor: pointer;
    }

   .container{
       background-position: center top;
       background-size: 400px;
   }
   
   div.texto-container{
       text-align:center;
       margin: 0;
   }
   div.texto-container p{
       margin:10% auto;
       font-size: 25px;
   }

   div.texto-container h1{
       margin-top: 200px;
       font-size: 40px;
   }
}
